@(kh:String, pp:String)(implicit l:Lang, st:AuthState)

@main("signature"){
  <h1>U2F file signature</h1>
  <form class="form-horizontal" method="POST"
    action="javascript:void(0)" onsubmit="PU.sign_file('@kh')">
    @if(kh == ""){
      <div class="alert alert-info">
        You need to be logged in with a U2Fdongle to generate signatures
      </div>
    }
    <div class="form-group">
      <label class="control-label col-sm-2" for="sig_file">File to sign</label>
      <div class="col-sm-10">
        <input class="form-control" type="file" id="sig_file" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Sign file</button>
        <span id="sig_help">You will need to connect your U2F device or push its button</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="appid">appID</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" id="appid" value="@gs.HOST()"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pubpt">Public point</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" id="pubpt" value="@pp"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="sigblocknopp">Document signature</label>
      <div class="col-sm-10">
        <textarea class="form-control"id="sigblocknopp" rows="4" onchange="PU.split_block(false)"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button onclick="PU.check_file_sign()"
                type="button" class="btn btn-primary">
          Verify signature</button>
        <button onclick="$('#more_info').slideToggle()"
                type="button" class="btn btn-default">
          Show more information</button>
      </div>
    </div>
    <div class="form-group" id="sig_check_res" style="margin-bottom: 0">
    </div>
    <div id="more_info" style="display: none;">
      <div class="form-group">
        <label class="control-label col-sm-2" for="keyHandle">KeyHandle</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="keyHandle" value="@kh" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="sha256">SHA256</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="sha256" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="sig1">Client Data</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="sig1" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="sig2">Signature Data</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="sig2" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="sigblock">Full signature (with public point)</label>
        <div class="col-sm-10">
          <textarea class="form-control"id="sigblock" rows="4" onchange="PU.split_block(true)"></textarea>
        </div>
      </div>
    </div>
  </form>
  <script src="/assets/javascripts/sha256.js"></script>
}