@()(implicit l:Lang, st:AuthState)

@main(""){
  <h1>Welcome on FIDO U2F Test server</h1>

  <p>This test server was created to demonstrate how easy it is for users to register and connect using a FIDO U2F device.</p>

  <div class="well">
    <p>You can:</p>
    <a class="btn btn-primary btn-lg btn-block" href="/login">Log in to an existing account</a>
    <a class="btn btn-default btn-lg btn-block" href="/register">Register a new account</a>
  </div>

  <p>This server requires <a href="https://chrome.google.com/webstore/detail/fido-u2f-universal-2nd-fa/pfboblefjcgdjicmnffhdgionmgcdmne" target="_blank">FIDO U2F (Universal 2nd Factor) extension</a> and Chrome 38 to work with HID devices.</p>
  <p>If you have a dongle produced before September 2014, it may no longer be compatible with this service because the specifications have evolved. If you want new samples, please contact Plug-up International.</p>

}
